:root {
  --bg-black: #0C0C0E;
  --bg-white: #FAFAFA;
  --black-tr: rgba(12, 12, 14, 0.3);

  --gold: #A77E3D;

  --white: #FFFFFF;
  --white-tr: rgba(255, 255, 255, 0.6);
  --dr-gray: #161616;
  --gray: #2E2E2E;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0 10px;
  background-color: var(--bg-white);
  
  font-family: "Commissioner", sans-serif;
  color: var(--dr-gray);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;

  overflow-x: hidden;
  border-color: var(--dr-gray);
}
main {z-index: 1;}

/* maijer distanse between sactions */
section {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;

  margin: 50px 0;
}
section:nth-of-type(1) {
  margin-top: 0;
}
section:not(:nth-of-type(3n)) > div:last-of-type {
  margin-top: 10px;
}

/* black background and settings for elements on it */
.bgblack {
  position: relative;

  background-color: var(--bg-black);

  padding: 30px 0;

  color: var(--white);
  border-color: var(--bg-white);
}
.bgblack::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;   
  z-index: -1;
  background-color: var(--bg-black);
}

/* subtitles */
h4 {
  color: var(--gray);
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/* any button */
button {
  padding: 10px 25px;
  width: 100%;

  border: 1px solid;
  border-color: inherit;
  border-radius: 120px;
  background-color: inherit;
  
  font-family: "Commissioner", sans-serif;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* lines for any list: FAQ and catalog too */
.bordered-list {
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.bordered-list > div {
  padding-top: 10px;

  border-top: 1px solid;
  border-color: var(--black-tr);
}
.bordered-list > div:last-child {
  padding-bottom: 10px;

  border-bottom: 1px solid;
  border-color: var(--black-tr);
}
.bordered-list.catalog-template > div {padding-top: 15px;}

/* instruments tamplates - dependency, location */
.catalog-template > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catalog-template > div div:first-child {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.catalog-template img {
  padding: 5px 0;
}
.catalog-template .catalog-numbers {font-size: 8px;}
.catalog-template .catalog-name {
  font-family: "Playfair Display";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

/* FAQ tamplates - dependency, location */
.faq-template > div {
  display: flex;
  flex-direction: row;
}
.faq-template > div div:first-child {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  
  width: 78.75%; /* was 78.75vw */

  gap: 10px;
}
.faq-template > div div:first-child dt {
  font-family: "Playfair Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.faq-template > div div:last-child {
  align-self: flex-start;
}

/* all with menu */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 800;

  display: flex;
  flex-direction: column;
  padding: 0 10px;

  background-color: var(--bg-black);
}
header.fullscreen {
  height: 100vh;
}
header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 10px;
}
.header-logo {
  height: 40px;
  width: auto;  
}
.header-toggle {
  height: auto;
  width: 24px;

  padding: 0;
  border: none;
}
header nav {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
header ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px; 

  margin-top: 20vw;
  font-size: 24px;  
  text-transform: uppercase;
  text-decoration: none;  
}
header a {color: var(--white);}
.header-button {
  margin-top: auto;
  margin-bottom: 10vw;

  padding: 0 3px;
}

/* main page - what ur see first */
.welcome-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  align-items: center;
  justify-content: space-between;

  padding-top: 80px;
}
.welcome-cta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.welcome-cta p {
  font-size: 18px;
  text-align: center;
}

/* numbers in 'about' section */
.about-numbers-grid {
  display: flex;
  flex-wrap: wrap;
  
  gap: 10px; 
}
.square {
  flex: 1;
  aspect-ratio: 1/1;
  min-width: 125px;

  border: 1px solid;
  border-color: inherit;
  border-radius: 50%;
}
.rectangle {
  flex: 2;
  aspect-ratio: 2/0.8;
  min-width: 125px;

  border: 1px solid;
  border-color: inherit;
  border-radius: 120px;
}
.about-numbers {
  display: flex;
  flex-direction: column;
  gap: 30px;

  justify-content: center;
  text-align: center;
}
.about-numbers div:first-child {
  color: var(--gold);
  
  font-family: "Playfair Display";
  font-size: 70px;
}
.about-numbers div:last-child {
  width: 70px;
  align-self: center;
}

/* image before process section */
.process-photo {  
  position: relative;
  z-index: -1;
  
  bottom: -35px;
  margin-top: -35px;

  border-radius: 50%;
  
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;  
}
.process-photo-position {
  position: absolute;
  left: -300px;
  top: -300px;
  width: 100%;
  height: 100%;
  transform: rotate(30deg);
}
.process-photo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom,  rgba(240,240,240,0), rgba(240,240,240,1));
}

/* button in 'explore harmony beuty' section */
.special-button {
  width: 53vw;
  align-self: center;
}

/* crutch */
.center-content {
  text-align: center;
}

/* retailers templats, card, overflous etc. */
.retailers {  
  overflow-y: auto;
  
  position: relative;

  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}
.retailers, .retailers-card {
  transform:rotateX(180deg);
  -moz-transform:rotateX(180deg); /* Mozilla */
  -webkit-transform:rotateX(180deg); /* Safari and Chrome */
  -ms-transform:rotateX(180deg); /* IE 9+ */
  -o-transform:rotateX(180deg); /* Opera */
}
.retailers-card {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;  
}
.retailers-image {
  width: 200px;  
  height: 100px;
  border: 1px solid var(--black-tr);
  
}
.retailers-infobar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.retailers button:last-child {
  padding: 0;
  height: 24px;
  width: auto;
  border: none;
}
.retailers-name {
  font-family: "Playfair Display";
  font-size: 18px;
}
.retailers-country {font-size: 9px;}

/* very big section about founder */
#founder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  gap: 50px;
}
/* first section with many text */
#founder .founder-bio {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}
#founder .founder-title {
  position: relative;
  z-index: 1;
  
  bottom: -35px;
  margin-top: -35px;
}
#founder .founder-photo-rectangle {
  padding-bottom: 10px;
  width: 50vw;
  aspect-ratio: 0.8/1;
  overflow: hidden;
}
#founder .founder-photo-rectangle img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#founder h4 {
  color: var(--white);
  text-align: center;
}
#founder .founder-bio-text {
  width: 68.75vw;
  text-align: justify;
}
/* second section with timeline and chronology */
#founder .founder-chronology {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 20px;
}
#founder .founder-chronology h4 {
  text-transform: uppercase;  
}
#founder .overflow-timeline {
  position: relative;
  left: -10px;
  width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
  overflow:hidden;
}
#founder .timeline {
  border: 1px solid;
  border-color: inherit;
  border-radius: 25px;
  width: min-content;  

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 30px;
  height: 30px;
  gap: 30px;
}
#founder .timeline > div {
  color: var(--white-tr);
  font-size: 18px;

  font-family: "Playfair Display";
}
#founder .timeline > div[data-activity="activ"] {
  color: var(--bg-white);  
}
#founder .bio-facts > div[data-activity="activ"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
#founder .bio-facts > div[data-activity="activ"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  width: 100%;
}
#founder .bio-facts-text{flex: 1;}
#founder .bio-facts > div[data-activity="activ"] div:nth-child(1) {
  font-size: 22vw;
  font-family: "Playfair Display";
  line-height: 90%;
}
#founder .bio-facts > div[data-activity="activ"] div:nth-child(2) {
  font-size: 9px;
  background: linear-gradient(180deg, var(--white) 20.59%, var(--white-tr) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#founder .bio-facts-photo {
  width: 100%;
  aspect-ratio: 3/2;
  overflow: hidden;
}
#founder .bio-facts-photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#founder .bio-facts > div {
  display: none;
}
#founder .quote-photo {
  position: relative;
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
#founder .quote-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#founder .quote {
  position: absolute;
  top: 15%;
  z-index: 20;

  font-family: "Playfair Display";
  font-size: 9vw;
  line-height: 100%;
  color: var(--gold);
  text-align: justify;  
}

/* feedback form */
.feedback-text h4 {
  font-size: 1em;
  color: var(--white-tr);
  margin-right: 18.7%;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}
.feedback-form > input {
  font-size: 1.17em;
  height: 35px;
  padding-top: 10px;
  
  border: none;
  background-color: inherit;
  color: var(--white-tr);

  border-bottom: 1px solid var(--bg-white);
}
.feedback-form > input:focus {
  outline: none;  
}
.feedback-form > input[type="submit"] {  
  width: 100%;
  margin-top: 5px;
  padding: 0;

  border: 1px solid;  
  border-radius: 120px;  
  font-family: "Commissioner", sans-serif;
  color: inherit;
}

.checkbox {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;

  width: auto;
  height: 14px;
}
.checkbox a {
  color: var(--white-tr);
  font-size: 0.75em;
  text-decoration: underline;
  justify-self: center;
  
}
input[type="checkbox"] {
  height: 100%;
  aspect-ratio: 1/1; 

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 1px solid var(--bg-white); 
}
input[type="checkbox"]:checked {
  height: 100%;
  aspect-ratio: 1/1;  
  
  background-image: url(assets/img/tick.svg);  
  border-color:  var(--bg-white);
} 


/* images of headings */
.welcome-mobile {
  width: auto;
  height: 37.5vw;
}
.welcome-desctop {display: none;}

.about-mobile {  
  width: auto;
  height: 22.5vw;
}
.about-desctop {display: none;}

.products-mobile{
  width: auto;
  height: 22.5vw;
}
.products-desctop {display: none;}

.process-mobile {
  width: auto;
  height: 35vw;
}
.process-desctop {display: none;}

.explore-beauty-mobile {
  width: auto;
  height: 37.5vw;
}
.explore-beauty-desctop {display: none;}

.retailers-mobile {
  width: auto;
  height: 22.5vw;
}
.retailers-desctop {display: none;}

.founder-mobile {
  width: auto;
  height: 35vw;
}
.founder-desctop {display: none;}

.faq-mobile {
  width: auto;
  height: 35vw;
}
.faq-desctop {display: none;}

.melodic-journey-mobile {
  width: auto;
  height: 46.25vw;
}
.melodic-journey-desctop {display: none;}

.footer-name-mobile {
  width: auto;
  height: 22.5vw;
}
.footer-name-desctop {display: none;}

img[src$=".svg"] {  
  height: 100%;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding-bottom: 20px;
  border-bottom: 1px solid var(--black-tr);
}
.footer-logo {
  position: relative;
  aspect-ratio: 1/1;
  width: 20%;

  bottom: -10px;
  margin-top: -10px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-menu div {
  text-transform: uppercase;
  font-style: normal;  
}
.footer-menu a {color: var(--dr-gray);}

#contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 55%;
}
#contacts > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#contacts dd {
  font-family: "Playfair Display";
  font-size: 16px;
  color: var(--dr-gray);
}


.underfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 44px;
  align-items: center;  
}
.underfooter a {
  color: var(--black-tr);
  text-transform: lowercase;
  font-size: 9px;
}

/*
.header::before {  
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:#0C0C0E;
  z-index: -1;
}

header {  
  padding-top: 10px;
  display: grid;
  grid-template-columns:  auto 1fr auto auto;
  align-items: center;  

  background-color: #0C0C0E;
}

.menu-object {  
  color: #FFF;
  font-family: "Commissioner", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
  text-transform: uppercase;
  text-decoration: none;
}

.logo-container {
  justify-self: start;
  margin-right: auto;
}

header nav {
  justify-self: center;
}

header ul {
  display: flex;  
  gap: 30px;
  align-items: center; 

  list-style: none;
  padding: 0;
  margin: 0;
}

header button {
  border: none; 
  background: none; 
  padding: 0;
}

.menu-submit {
  margin-right: 5px;
  margin-left: 25px;  
  padding: 10px 25px;

  border: 1px solid #FAFAFA;
  border-radius: 120px;
  background-color:#0C0C0E;
  font-size: 20px;
  
  justify-self: end;
}

header button:hover {
  cursor: pointer;
}

header select {
  appearance: none;

  font-size: 20px;
  color:#FFF;

  box-sizing: border-box; 
  width: 28px;
  border: none;
  background-color:#0C0C0E;
  outline: none;
  box-shadow: none;
  letter-spacing: 1px;

  margin-left: auto;
}

header select:hover {
  cursor: pointer;
}

header select::-webkit-dropdown-list {
  padding: 0; 
  color: #FFF; 
  
  border: none; 
  background-color: #0C0C0E;  
}

#welcome {
  display: flex;
  flex-direction: column;  
}

#welcome h1 {
  margin: 0;

  color: #AC8643;
  font-family: "Nautica", serif;  
  font-style: normal;
  font-weight: 250;
  line-height: 110%;
  text-transform: uppercase;
}

#welcome p {
  color: #FFF;
  font-size: 20px;
  
  padding: 0;
  margin: 0;
}

#welcome .image {
  position: fixed;
  display: none;
}

#welcome div:nth-of-type(2) {
  margin-left: auto;                                                 
  margin-top: auto;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;  
  gap: 30px;
  width: 25%;
}

#popup-container {
  display: none;
}

@media screen and (min-width: 1600px) {
  body {
    padding-left: 50px;
    padding-right: 50px;
  }

  header {    
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .logo-container {
    height: 87px;
  }
  .menu-toggle {display: none;}

  #welcome {
    height: calc(100vh - 97px);
  }

  
  #welcome h1 {
    font-size: 150px; 
  }
}

@media screen and (min-width: 769px) and (max-width: 1599px) {
  body {
      padding-left: 50px;
      padding-right: 50px;
  }

  header {    
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .logo-container {
    height: calc(76px + 11 * ((100vw - 769px) / 830));
  }
  .menu-toggle {display: none;}

  #welcome {
    height: calc(100vh - 10px - (76px + 11 * ((100vw - 769px) / 830)));
  }

  
  #welcome h1 {
    font-size: calc(100px + (100vw - 769px) / 15);
  }
}


@media screen and (min-width: 321px) and (max-width: 768px) {
  body {
      padding-left: 20px;
      padding-right: 20px;
  }

  header {    
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo-container {
    height: calc(40px + 36 * ((100vw - 321px) / 447));
  }

  #welcome {
    height: calc(100vh - 10px - (40px + 36 * ((100vw - 321px) / 447)));
  }
  #welcome div:nth-of-type(2) {    
    margin: auto;
    margin-bottom: 44px;
    
    width: 49.5%; 
  }

  .menu-object {display: none;}  
  .menu-toggle {
    width: 28px;
    height: 18px;
  }

  #welcome h1 {
    font-size: calc(43px + (100vw - 321px) / 8.21);
  }
}

@media screen and (max-width: 320px) {
  body {
      padding-left: 10px;
      padding-right: 10px;
  }

  header {    
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .logo-container {
    height: 40px;
  }

  #welcome {
    height: calc(100vh - 50px);
  }
  #welcome div:nth-of-type(2) {    
    margin: auto;    
    margin-bottom: 30px;

    width: 100%;
  }

  .menu-object {display: none;}
  .menu-toggle {
    width: 20px;
    height: 12px;
  }

  .my-element {
    font-size: 42px; 
  }
}

.adaptive-svg {
  width: auto;
  height: 100%;
}
.adaptive-svg.menu-toggle {
  display: block;
  
  width: 100%;
  height: 100%;
} */